.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  background-color: blueviolet;
  color: var(--text-color);
}

.home-container h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.home-container p {
  font-size: 1.25rem;
  color: var(--text-muted-color);
}
