@import '../../index.css';

.navbar {
  background-color: var(--primary-color);
  color: var(--blanco-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.navbar a {
  color: var(--blanco-color);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--text-verde);
}
