@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import '../../../index.css';

body {
  font-family: "Roboto", sans-serif;
  background-image: url('https://th.bing.com/th/id/OIP.-ytmJR3lyKze7EJtW34tKgHaDS?w=1920&h=853&rs=1&pid=ImgDetMain'); /* Aplica la imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /* Evita el scroll */
  height: 100vh; /* Asegura que el contenido ocupe toda la altura de la ventana */
  margin: 0; /* Elimina el margen por defecto */
}

p {
  color: var(--blanco-color);
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: var(--blanco-color);
}

h3.loginTitle {
  margin-top: 10px;
}

a {
  transition: .3s all ease;
  text-decoration: underline; /* Se aplica a todos los enlaces */
  color: var(--blanco-color);
}

a:hover {
  text-decoration: none !important;
}

.loginContent {
  padding: 5rem 0; /* Reduce el padding */
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem); /* Ajustar la altura teniendo en cuenta el footer */
}

.vectorLogin {
  margin-top: 0%; /* Ajusta la posición de la imagen */
}

h2 {
  font-size: 20px;
}

.container {
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.contents, .bg {
  width: 50%;
}

@media (max-width: 1199.98px) {
  .contents, .bg {
    width: 100%;
  }
}

.bg {
  background-size: cover;
  background-position: center;
}

.formulario {
  padding: 1rem 0; /* Reduce el padding del formulario */
}

.formGroup {
  position: relative;
  margin-bottom: 1.5rem;
}

.formGroup label {
  position: absolute;
  top: -15px; /* Ajustado para más espacio */
  left: 10px;
  font-size: 14px;
  color: var(--negro-color); /* Color negro para las letras del label */
  padding: 0 5px;
  background: rgb(255, 254, 254); /* Fondo semitransparente */
  border-radius: 4px 14px 4px 14px; /* Añade border-radius */
  transition: .3s all ease;
  font-weight: 500; /* Peso de fuente ligeramente más fuerte */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01); /* Sombra sutil para profundidad */
}

.formGroup input:focus + label,
.formGroup input:not(:placeholder-shown) + label {
  top: -25px; /* Mueve la etiqueta hacia arriba cuando el input está enfocado */
  font-size: 12px; /* Reduce el tamaño de la fuente al enfocarse */
  color: var(--negro-color); /* Color negro al enfocarse */
  background: rgba(255, 255, 255, 0.2); /* Mantiene el fondo semitransparente */
}

.formGroup input:focus + label {
  background: rgba(255, 255, 255, 0.2); /* Cambia el color de fondo cuando se hace clic en el label */
}

.formGroup input {
  background: transparent;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: var(--blanco-color); /* Color blanco para el texto del input */
}

.formGroup.first {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.formGroup.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.formGroup.focus {
  background: #fff;
}

.formControl {
  border: none;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
  height: 44px;
  background: #f7f7f7;
  border: 1px solid #dcdcdc;
  color: var(--blanco-color); /* Color blanco para el texto del input */
}

.formControl:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary-color);
}

.btnPrimary {
  background: var(--primary-color);
  border-color: var(--negro-color);
}

.btnPrimary:hover {
  background: var(--text-verde);
  border-color: var(--negro-color);
}

.socialLogin {
  display: flex;
  justify-content: space-between;
}

.socialLogin a {
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  background: none;
  text-align: center;
  line-height: normal;
  color: #333;
  font-size: 16px;
  transition: transform .3s, border-color .3s; /* Añadir transición para el agrandamiento */
  overflow: hidden; /* Asegura que los iconos no se salgan del contenedor */
}

.socialLogin a img.icon {
  width: 48px;
  height: 48px;
  object-fit: contain; /* Ajusta los iconos para que se ajusten completamente al contenedor */
}

.socialLogin a:hover {
  transform: scale(1.1); /* Agrandar un poquito al pasar el ratón */
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.controlIndicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control:hover input ~ .controlIndicator,
.control input:focus ~ .controlIndicator {
  background: #ccc;
}

.control input:checked ~ .controlIndicator {
  background: var(--text-verde);
}

.controlCheckbox .controlIndicator:after {
  content: '';
  position: absolute;
  display: none;
}

.controlCheckbox input:checked ~ .controlIndicator:after {
  display: block;
}

.controlCheckbox .controlIndicator:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--blanco-color);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.forgotPass {
  font-size: 14px;
  color: #3b96f7;
}

.forgotPass:hover {
  color: var(--text-verde);
}

.textMuted {
  color: var(--blanco-color) !important; /* Asegura que el texto de información sea blanco */
  text-align: center; /* Centra el texto */
}

.errorMessage {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 5px;
}

.errorMessage.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

h3 {
  color: var(--blanco-color); /* Color blanco para Nourish */
}

.caption {
  color: var(--blanco-color); /* Color blanco para Recordar usuario */
}

.dFlex.justifyContentBetween .forgotPassContainer {
  margin-left: auto; /* Alinear a la derecha */
}

.dFlex.justifyContentBetween .controlCheckbox {
  margin-right: auto; /* Alinear a la izquierda */
}

@media (max-width: 768px) {
  .vectorLogin {
    display: none;
  }
  .contents {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .formulario {
    width: 100%;
    padding: 1rem;
  }
  .formGroup {
    margin-bottom: 1rem;
  }
  .btn {
    width: 100%;
  }
  .socialLogin {
    flex-direction: column;
    align-items: center;
  }
  .socialLogin a {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 769px) {
  .vectorLogin {
    display: block;
  }
  .contents {
    width: 50%;
  }
}
