
/* Variables de colores */
:root {
  --primary-color: #007bff;
  --secondary-color: #000000;
  --error-color: rgb(250, 47, 47);
  --background-color: #f0f2f5;
  --text-color: #fff;
  --text-muted-color: #b3b3b3;
  --text-verde: #0d9218;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
