.navbar {
  background: var(--primary-color);
  height: 60px; /* Reducir la altura */
  width: 100%; /* Ocupar todo el ancho */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px; /* Reducir la altura */
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

.navbar-logo {
  color: var(--text-color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 60px; /* Reducir la altura */
}

.nav-links {
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--text-verde) !important;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
}

.breadcrumb-item {
  color: var(--text-color);
  cursor: pointer;
  margin-right: 0.5rem;
}

.breadcrumb-item.active {
  font-weight: bold;
}

.breadcrumb-item:hover {
  color: var(--text-verde);
}
